.search-content{
    width: 100%;
    height: 40px; 
    margin: 20px 0;
    .list-content{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        list-style: none;
        a{
            text-decoration: none;
            color: #000;
        }
        li.item-search-content{
            height: 30px;
            background-color: rgba(0, 0, 0, 0.2);
            padding: 0 1rem;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            cursor: pointer;
            transition: var(--tran-03);
            font-weight: 500;
        }
        li.item-search-content:hover{
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
        }
    }
}