.bottom_section {
  width: 100%;
  height: auto;
  padding: 0 40px 0 60px;
}

// Custom Tooltip
.tooltip_custom {
  position: relative;

  .tooltip_text {
    width: auto;
    visibility: hidden;
    background-color: #32323d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 8px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -21px;
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 300;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: #32323d transparent transparent transparent;
    }
  }

  &:hover .tooltip_text {
    visibility: visible;
  }
}

// Custom Button
.songs_button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;

  a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 0.8rem;

    &.item {
      margin-right: 24px;
      font-weight: 400;
      font-size: 12px;
      padding: 4px 12px;
      border: 1px solid;
      border-radius: 999px;
      text-transform: uppercase;

      &:hover:not(.active) {
        color: #c662ef;
      }
    }

    &.active {
      background-color: #7200a1;
      border: none;
      color: #fff;
    }
  }
}

// CSS Empty Content
.empty {
  display: flex;
  width: 100%;
  height: 40vh;
  align-items: center;
  flex-direction: column;
  color: #00000099;
  i {
    font-size: 4rem;
    padding: 32px 0;
  }
}
