.menuSongPopularContainer{
    .navbar {
        width:auto  ;
        height: auto;
        margin: 10px 0;
      
        .navbarContainer {
          width: 100%;
          height: auto;
          border-bottom: 1px solid #c4c4c499;
      
          .navbarMenu {
            list-style-type: none;
            width: 20%;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 52px;  
            @media screen and (max-width: 1124px) and (min-width:840px) {
              width: 30%;
            }
            @media screen and (max-width:840px) and (min-width:650px){
              width: 30%;
              
            }
            @media screen and (max-width:650px)and (min-width:550px) {
              width: 50%;
              
            }
            @media screen and (max-width:550px){
              width: 70%;
              
            }
            
      
            .navbarItem {
              display: flex;
              align-items: center;
              justify-content: space-around;
              cursor: pointer;
              // &.active {
              //   color: #7200a1;
              //   border-bottom: 2px solid #7200a1;
              // }
              &.active {
              color: #7200a1;
              border-bottom: 2px solid #7200a1;
              }
      
              a {
                color: #000;
                text-decoration: none;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 18px;
                &:hover:not(.active) {
                  color: #7200a1;
                }
                @media screen and (max-width: 1124px) and (min-width:840px) {
                  font-size: 15px;
                }
                @media screen and (max-width:840px) {
                  font-size: 12px;
                  
                }
              }
            }
          }
        }
      }
     .songButton{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 24px;

        @media screen and (max-width: 519px) {
          display: none;
        }
        a {
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
          font-size: 0.8rem;
      
          &.item {
            margin-right: 24px;
            font-weight: 400;
            font-size: 12px;
            padding: 4px 12px;
            border: 1px solid;
            border-radius: 999px;
            text-transform: uppercase;
      
            &:hover:not(.active) {
              color: #c662ef;
            }
          }
      
          &.active {
            background-color: #7200a1;
            border: none;
            color: #fff;
          }
        }

     }   
}
