.box{
    height: auto;
    padding-left: 40px;
}
.box .banner{
    width: 98%;
    height: 360px;
    display: block;
    border-radius: 5px;
}
.box .tl1{
    width: 100%;
    height: auto;
    overflow: auto;
}
.tl1::-webkit-scrollbar{
    height: 10px;
}
.tl1::-webkit-scrollbar-thumb{
    /* background-image: chocolate; */
    background-color: chocolate;
}
.chude{
    margin-top: 55px;
    font-size: 20px;
    font-weight: bold;
}
.tl1 .ds1{
    width: 1235px;
    height: auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.box .tl2{
    width: 100%;
    height: auto;  
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 10px;
}
.tl2::-webkit-scrollbar{
    height: 10px;
    margin-top: 10px;
}
.tl2::-webkit-scrollbar-thumb{
    /* background-image: chocolate; */
    background-color: chocolate;
}
.tl2 .ds2{
    width: 1235px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.box .tl3{
    width: 100%;
    height: auto;
    padding-top: 10px;
    overflow: auto;
}
.tl3::-webkit-scrollbar{
    height: 10px;
}
.tl3::-webkit-scrollbar-thumb{
    /* background-image: chocolate; */
    background-color: chocolate;
}
.tl3 .ds3{
    width: 1235px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-top: 10px;
}