.artistItem{
    width: 130px;
    height: 130px;
    list-style-type: none;
    margin-right:20px;
    margin-left: 2%;
    transition:  .3s linear;
    // margin-bottom: 20px;
    // &:hover{
        //     background: rgb(151, 151, 151);
        // }
        .img_artist{
        border-radius: 50%;
        position: relative;
        width: 130px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        .img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            &:hover{
                transform:scale(1.1) ;
                transition: 600ms;
            }
        }
    }
    .info{
        padding-top: 10px   ;
        line-height: 15px;
        font-size: 18px;
        text-align: center;
        font-weight: 600;
        &:hover{
            color: rgb(117, 117, 236);
            cursor: pointer;
        }
    }

    .singerLike{
        font-size: 13px;
        text-align: center;
    }
 
}