a{
    text-decoration: none;
    color: #000;
}
.options{
    position: absolute;
    width: 200px;
    top: 75px;
    right: 20px;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow:  0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.options.active{
    display: block;
    transition: 0.5s;
}

.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius:8px;
    align-items: center;
    background-color: #fff;
}


.options .option:hover{
    background: #F2F2F2;
}

.options .option i{
    font-size: 25px;
    margin-right: 12px;
    text-decoration: none;
}

.option .option-text{
    font-size:18px;
    color:#333;
}

.avatar-name{
    border-bottom: 1px solid var(--sidebar-color);
}


.nav-right{
    cursor: pointer;
}