.carousel_playlist {
  width: 22%;
  height: 40vh;
  margin-right: 2%;
  overflow: hidden;

  .image {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .media {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      visibility: hidden;

      i {
        font-size: 1.4rem;

        &:hover {
          color: #7200a1;
        }
      }
    }

    &:hover .media {
      visibility: visible;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      object-fit: cover;
      transition: 0.5s all ease-in-out;
    }

    &:hover img {
      /* -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1); */
      transform: scale(1.1);
    }
  }

  .name {
    width: 100%;
    height: 20%;
    padding-top: 12px;

    a {
      text-decoration: none;
      .name_playlist {
        color: #32323d;
        font-weight: 500;
        font-size: 1rem;
      }
      &:hover {
        color: #7200a1;
      }
    }

    .name_author {
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.5;
      color: #00000099;
    }
  }
}
