.songItemContainer{
    .songItem{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4{
            margin-left: 10px;
            color: black;
            font-size: 23px;
            font-weight: 600;
        }
        label{
            background: none;
            border:none;
            border-radius: 50%;
          
          .fas{
            color: black;
            // cursor: pointer;
            transition: .3s linear;
          }   
          &:hover{
            .btn{
              color:rgb(221, 221, 221);
              .fas{
                color:rgb(221, 221, 221);
              }
            }
            transition: 500ms; 
          }
        }
    }
    .cardSongItem{
        width: 100%;
        height: 180px;
        margin-bottom: 20px;
        display: flex;
        overflow: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar{
          display: none;
        }
    }
}
