.play_list {
  width: 100%;
  height: auto;
  padding: 70px 40px 0 60px;
  /* visibility: hidden; */
  /* display: none; */
}

.wrapper_playlist {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  .card_playlist {
    width: 25%;

    .carousel_playlist {
      width: 90%;
    }
  }
}
