.wrapper_title {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: auto;
  justify-content: space-between;
  margin-bottom: 20px;

  .title {
    text-transform: uppercase;
    display: flex;

    .icon_plus {
      background-color: #e8e8e8;
      padding: 4px 10px;
      border-radius: 999px;
      font-weight: 400;
      cursor: pointer;
      margin-left: 16px;

      &:hover .tooltip_text {
        visibility: visible;
      }
    }
  }

  .all {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 0.9rem;

    &:hover {
      color: #c662ef;
      transition: 0.5s ease-in-out;
    }

    i {
      padding-left: 4px;
    }
  }
}
