.artist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h4 {
    margin-left: 10px;
    color: black;
    font-size: 23px;
    font-weight: 600;
  }
  .btn {
    background: none;
    border: none;
    border-radius: 50%;
    .fas {
      color: black;
      // cursor: pointer;
      transition: 0.3s linear;
    }
    &:hover {
      transition: 500ms;
      .btn{
        color: rgb(185, 185, 185);
        .fas{
          color:rgb(221, 221, 221);
        }
      }
    }
  }
}
.cardArtists {
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}
